{% extends 'layout.html.twig' %}

{% block title %}Renitialisation du mot de passe mail envoyé{% endblock %}

{% block content %}
<main>
    <p>
        Si un compte correspondant à votre email existe, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas recu de mail regardez dans vos spam ou<a href="{{ path('app_forgot_password_request') }}"> essayez a nouveau</a>.</p>
</main>
{% endblock %}
